body{
    background-color: rgb(220, 223, 241);
    font-size: 25px;
    margin: 50px 0 px 100px 20px;

}

h1{text-justify: centre;
    
}
img{
    height: 300px;
    width: 300px;
}
p,ol,ul{width: 600px;
}

.btn{
    font-size: 20px;
    width: 120px;
    height: 30px;
    display: block;
    text-decoration: none;
    color: black;
    background-color: rgba(214, 151, 15, 0.425);
    border: black 1px solid;
    border-radius: 5px;
    text-align: center;
    padding-top: 2px;
}
